# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
*.db
backend/uploads/*
!backend/uploads/.gitkeep

# Node
node_modules/
frontend/dist/
frontend/build/
.eslintcache

# Docker
.docker/
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
